body { 
    background-color:pink ;
}

.cabecalho{
    background-color: rgb(206, 32, 113);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
font-size: 45px;
}

p {
    
}

.imgcentro {
    width: 200px;

}

nav{

}

li{
    display: inline-block; 
    margin: 10px;
    padding: 10px;
    font-size: 30px;
   

}

li a{
    font-size: 50px;
    color: rgba(212, 33, 174, 0.651);

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);


    .rodape {
    background-color: rgb(138, 79, 187);
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
}