body { 
    background-color:pink ;
}

.cabecalho{
    background-color: rgb(206, 32, 113);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
font-size: 45px;
}

p {
    
}

.imgcentro {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
 
}

img {
  width: 190px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  display: inline-block;
}

 img {
    width: 200px;
   height: 200px;
   object-fit: cover; /* Mantém a proporção e recorta a imagem se necessário */
 }




nav{

}

li{
    display: inline-block; 
    margin: 10px;
    padding: 10px;
    font-size: 30px;
   

}

li a{
    font-size: 50px;
    color: rgba(212, 33, 174, 0.651);

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}
@media(max-widht: 600px){
    body{
        font-size:16px;
    }
}